<footer>
    <div class="footer-area">
        <!--博客相关-->
        <div class="about-blog">
            <h4>素材排行</h4>
            <div class="ft-part1">


                <!--文章排行-->
                <ul class="paihang-ul" style="display:block;width:100%;">

                    <li><span></span><a href="/Downdetail/?1.html" title="素材测试">素材测试<b>(2)</b></a></li>

                </ul>


            </div>
        </div>
        <!--最新留言-->
        <div class="close-fd mob-hidden">
            <h4>留言频道</h4>
            <ul>

                <li>

                    <div class="sd-tx">

                        <a title="留言测试，没有登记网站.">

                            <img src="/static/images/Portrait/75.jpg" alt="留言测试" class="img-circle"/>
                        </a>
                    </div>
                    <div class="sd-name">
                        <span>留言测试</span>
                        <a class="blue-text" href="FeedBack/#Comment-1" title="留言测试留言测试[ali_7]">留言测试留言测试[ali_7]...</a>
                    </div>
                </li>

            </ul>
        </div>

        <!--图文频道-->
        <div class="tuwen-pd mob-hidden">
            <h4>图文频道</h4>
            <ul>

                <li>
                    <a href="Article/?51.html" title="活着，想那么多干嘛!">

                        <img src="/static/upload/Article/201671012950783.jpg" alt="活着，想那么多干嘛!" title="活着，想那么多干嘛!"
                             class="img-circle"/>

                    </a>
                </li>


                <li>
                    <a href="Article/?50.html" title="晓晓博客ASP源码下载">

                        <img src="/static/upload/Article/2016710113331835.jpg" alt="晓晓博客ASP源码下载" title="晓晓博客ASP源码下载"
                             class="img-circle"/>

                    </a>
                </li>


            </ul>
        </div>
        <!--数据统计-->
        <div class="data-count ">
            <h4>数据统计</h4>
            <ul>


                <li><span><i class="el-picture"></i>图片数量：</span><a title="共有  张图片"></a> 张</li>
                <li><span><i class="el-headphones"></i>说说数量：</span><a title="共有 2 条说说">2</a> 条</li>
                <li><span><i class="el-pencil"></i>文章数量：</span><a title="共有 2 篇文章">2</a> 篇</li>
                <li><span><i class="el-comment"></i>留言数量：</span><a title="共有 1 条留言">1</a> 条</li>
                <li><span><i class="el-comment-alt"></i>评论数量：</span><a title="共有 1 条评论">1</a> 条</li>
                <li><span><i class="el-paper-clip"></i>素材个数：</span><a title="共有 1 个">1</a> 个</li>
                <li><span><i class="el-cog"></i>运行天数：</span><a title="晓晓博客 已正常运行 257 天">257</a> 天</li>

                <li><span><i class="el-adjust-alt"></i>访问统计：</span><a title="累计访问1,536">1,536</a> 次</li>
                <!--<li><span><i class="el-arrow-up"></i>今天 13:12</span><a title="晓晓 最后更新了素材" >更新了<b class="lable">素材</b></a></li>-->

            </ul>
        </div>

    </div>
    <!--底部导航-->
    <div class="foot-nav">
        <div class="copy-right"><span>CopyRight &#169; 2015-2016 晓晓博客 &#160;&#160;&#160;     Design by 晓晓</span></div>
        <div class="bottom-nav">
            <span><a href="Map/Sitemap.html" target="_blank">百度地图</a>-<a href="Map/Sitemap.xml" target="_blank">谷歌地图</a>-<a>
                <script src="http://s11.cnzz.com/z_stat.php?id=1256669742&web_id=1256669742"
                        language="JavaScript"></script>
            </a>-<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"> 浙ICP备16003960号</a></span>
        </div>
    </div>
    <div id="toTop">Back to Top</div>
    <script>
        // 替换
        document.body.innerHTML = document.body.innerHTML.replace(/\[Q([0-9]*)\]/g, "<img src='images/face/mr/$1.gif'/>");
        document.body.innerHTML = document.body.innerHTML.replace(/\[yc_([0-9]*)\]/g, "<img src='images/face/yc/$1.gif'/>");
        document.body.innerHTML = document.body.innerHTML.replace(/\[ali_([0-9]*)\]/g, "<img src='images/face/ali/$1.gif'/>");
    </script>


</footer>