{% extends "article/home.html" %}
{% load custom_markdown %}

{% block content %}
    <div class="col-md-10" id="article">
        <div class="markdown-body">
            <article class="post post">
                <header class="entry-header">
                    <h1 class="entry-title">
                        {{ post.title }}
                    </h1>
                    <div class="entry-meta">
                            <span class="post-category"><a
                                    href="#">{{ post.category.name }}</a></span>

                            <span class="post-date"><a href="#">
                                <time class="entry-date" datetime="{{ post.date_time|date:"Y/m/d" }}">{{ post.date_time|date:"Y/m/d" }}</time>
                            </a></span>

                            <span class="post-author"><a
                                    href="#">{{ post.author.username }}</a></span>

                            <span class="comments-link"><a
                                    href="#">{{ post.view }}
                                view</a></span>
                    </div>
                </header>
                <div class="post-content">
                    <div class="BlogAnchor">
                        <p>
                            <b id="AnchorContentToggle" title="收起" style="cursor:pointer;">目录[-]</b>
                        </p>
                        <div class="AnchorContent" id="AnchorContent"></div>
                    </div>
                    <p>&nbsp;&nbsp;{{ post.content | custom_markdown }}</p>
                </div>
            </article>
        </div>
        {% include "article/duoshuo.html" %}
    </div>
{% endblock %}

{% block menu %}
    {% include "article/menu.html" %}
{% endblock %}

{% block jsfunc %}
GenerateContentList();
{% endblock %}