{% extends "article/home.html" %}
{% block content %}
<main class="col-md-8" id="article">
    <article class="post post">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="#">Adaptive Vs. Responsive
                    Layouts And Optimal Text Readability</a>
            </h1>
            <div class="entry-meta">
                            <span class="post-category"><a
                                    href="#">Web
                                Design</a></span>

                            <span class="post-date"><a href="#">
                                <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time>
                            </a></span>

                            <span class="post-author"><a
                                    href="#">Albert Einstein</a></span>

                            <span class="comments-link"><a
                                    href="#">4
                                Comments</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and
                flow of things. There are many variations of passages of Lorem Ipsum available, but the
                majority have suffered alteration in some form, by injected humour, or randomised words
                which don’t look even slightly.</p>
            <div class="read-more cl-effect-14">
                <a href="#" class="more-link">Continue
                    reading <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>

    <article class="post post">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="#">Adaptive Vs. Responsive
                    Layouts And Optimal Text Readability</a>
            </h1>
            <div class="entry-meta">
                            <span class="post-category"><a
                                    href="#">Web
                                Design</a></span>

                            <span class="post-date"><a href="#">
                                <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time>
                            </a></span>

                            <span class="post-author"><a
                                    href="#">Albert Einstein</a></span>

                            <span class="comments-link"><a
                                    href="#">4
                                Comments</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and
                flow of things. There are many variations of passages of Lorem Ipsum available, but the
                majority have suffered alteration in some form, by injected humour, or randomised words
                which don’t look even slightly.</p>
            <div class="read-more cl-effect-14">
                <a href="#" class="more-link">Continue
                    reading <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>

    <article class="post post-3">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/single.html">Adaptive Vs. Responsive Layouts And
                    Optimal Text Readability</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Web
                    Design</a></span>

                <span class="post-date"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">
                    <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time>
                </a></span>

                <span class="post-author"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Albert
                    Einstein</a></span>

                <span class="comments-link"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">4
                    Comments</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of
                things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
            <div class="read-more cl-effect-14">
                <a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#" class="more-link">Continue reading
                    <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>

    <article class="post post-4">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/single.html">Adaptive Vs. Responsive Layouts And
                    Optimal Text Readability</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Web
                    Design</a></span>

                <span class="post-date"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">
                    <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time>
                </a></span>

                <span class="post-author"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">Albert
                    Einstein</a></span>

                <span class="comments-link"><a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#">4
                    Comments</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of
                things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
            <div class="read-more cl-effect-14">
                <a href="http://demo.cssmoban.com/cssthemes3/twts_3_ev/index.html#" class="more-link">Continue reading
                    <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
</main>
{% endblock %}