<!DOCTYPE html>
<html class=" js csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Black &amp; White</title>

    <!-- meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/markdown.css">

    <!-- js -->
    <script src="/static/js/jquery.min.js"></script>

    {% block jsblock %}
    {% endblock %}

</head>
<body>
<div class="container">
    {% include "article/header.html" %}
</div>

<div class="content-body">
    <div class="container">
        <div class="article">
            {% block content %}
            {% endblock %}
        </div>
        <div class="menu">
            {% block menu %}
            {% endblock %}
        </div>
    </div>
</div>

{% include "article/footer.html" %}

</body>

{% block jsfunc %}
{% endblock %}

<script language="javascript" type="text/javascript">
    GenerateContentList()
</script>
</html>