<aside class="col-md-3" id="aside" style="position: fixed; right: 0">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            <li>
                <a href="#">Adaptive Vs. Responsive
                    Layouts And Optimal Text Readability</a>
            </li>
            <li>
                <a href="#">Web Design is 95%
                    Typography</a>
            </li>
            <li>
                <a href="#">Paper by FiftyThree</a>
            </li>
        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">Archives</h3>
        <ul>
            <li>
                <a href="#">November 2014</a>
            </li>
            <li>
                <a href="#">September 2014</a>
            </li>
            <li>
                <a href="#">January 2013</a>
            </li>
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">Category</h3>
        <ul>
            <li>
                <a href="#">Web Design</a>
            </li>
            <li>
                <a href="#">Web Development</a>
            </li>
            <li>
                <a href="#">SEO</a>
            </li>
        </ul>
    </div>
</aside>