

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" />
		<title>身份验证 - 晓晓博客后台管理系统</title>
		

	
		<link rel="stylesheet" href="css/login.css" type="text/css" media="screen" />

		
	</head>
  
	<body>
	
	
	
	<div class="container">
	<section id="content">
		<form action="User_login.asp" method="post">
			
			<div>
			
			<h1>管理员登录</h1>
			<h5>非管理员请立即离开此页面！</h5>
				<input type="text" placeholder="请填写账户" class="text-input"  name="u_user" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="请填写密码" class="text-input" name="u_pass" required="" id="password" />
			</div>
			<div>
				
				<!--<a href="#">
					<p id="remember-password">
						<input type="checkbox" checked="checked" />
					  安全登录
					
				  </p>
				  
			  </a>-->
			  <input type="submit" value="登     录" />
				
			</div>
		</form><!-- form -->
		
	</section><!-- content -->
</div>
	
	
	
	
		
	 <!-- End #login-wrapper -->
		
  </body>
  </html>
